
# BlueJ files
*.class
# Compiled class file
*.ctxt
*.ear
../.gitignore
hs_err_pid*
*.jar
*.log
# Log file
# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.nar
# Package Files #
*.rar
target/
*.tar.gz
tensorflow-model.iml
tensorflow-model.iml i
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*.war
*.zip
